*{
    font-style:"Bahnschrift"
    box type border-box
}
body {
    min-height: 100vh;
    background-color:rgb(4, 143, 143);
    text-align: center;
    justify-content: center; 
    display:flex ;
    margin-top: 60px;
    background-size: cover;
}
form{
    align-items: normal;
    justify-content: center;
    width:300px;
    background-color:whitesmoke;
    padding : 80px;
    border-radius: 10px;
    height:400px;
    padding-top: 50px;
    box-shadow:0 0 30px rgba( 0, 0, 0, 3);
}
h1{
    color: rgb(3, 3, 133);
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: oblique;
}
.textboxdiv{
    margin-bottom: 20px;
    border-color: black;
    border-width: 20px;
    display: flex;
    box-shadow:0 0 10px rgba( 0, 0, 0, 3);
}
.textboxdiv input{
    width: 100%;
    padding: 10px;
    border:none;
    border-radius: 0px;
    outline-color: black;
    outline-width: 0px;
    
}
.login{
    margin-top: 0px;
    background-color: rgb(0, 20, 42);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    opacity: 0.5;
}
.login:hover{
    opacity: 1;
}


